using R after dataframes to flag relavance

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Player Information

In [2]:
df_PlayerInformation = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/common_player_info.csv")

In [3]:
print(df_PlayerInformation.columns)

Index(['person_id', 'first_name', 'last_name', 'display_first_last',
       'display_last_comma_first', 'display_fi_last', 'player_slug',
       'birthdate', 'school', 'country', 'last_affiliation', 'height',
       'weight', 'season_exp', 'jersey', 'position', 'rosterstatus',
       'games_played_current_season_flag', 'team_id', 'team_name',
       'team_abbreviation', 'team_code', 'team_city', 'playercode',
       'from_year', 'to_year', 'dleague_flag', 'nba_flag', 'games_played_flag',
       'draft_year', 'draft_round', 'draft_number', 'greatest_75_flag'],
      dtype='object')

In [ ]:
# available relavant fields : person_id, first_name, last_name. birthdate, school, country, last_affiliation, height, weight, season_exp, jersey, position, rosterstatus, team_id, team_name
#                             team_code, playercode, from_year, to_year, games_played_flag, draft_year, draft, round, draft_number

In [4]:
df_PlayerInformation_R = df_PlayerInformation[['person_id', 'first_name', 'last_name', 
       'birthdate', 'school', 'country', 'last_affiliation', 'height',
       'weight', 'season_exp', 'jersey', 'position', 'rosterstatus',
       'games_played_current_season_flag', 'team_id', 'team_name',
       'team_code', 'playercode',
       'from_year', 'to_year', 'games_played_flag',
       'draft_year', 'draft_round', 'draft_number', 'greatest_75_flag']]

In [5]:
df_DraftInformation = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/draft_history.csv")

In [6]:
print(df_DraftInformation.columns)

Index(['person_id', 'player_name', 'season', 'round_number', 'round_pick',
       'overall_pick', 'draft_type', 'team_id', 'team_city', 'team_name',
       'team_abbreviation', 'organization', 'organization_type',
       'player_profile_flag'],
      dtype='object')

In [7]:
df_DraftInformation_R = df_DraftInformation[['person_id', 'player_name', 'season', 'round_number', 'round_pick',
       'overall_pick', 'draft_type', 'team_id', 'team_name',
       'team_abbreviation', 'organization', 'organization_type',
       'player_profile_flag']]

In [9]:
df_GameInformation = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/game_info.csv")

In [11]:
df_GameSum = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/game_summary.csv")

In [13]:
df_GameSum.tail(3)

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
58107,2023-06-12 00:00:00,1.0,42200405,3,Final,20230612/MIADEN,1610612743,1610612748,2022,4,,ABC,Q4 - ABC,1
58108,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1
58109,2023-02-19 00:00:00,1.0,32200001,3,Final,20230219/GNSLBN,1610616834,1610616833,2022,4,,TNT/TBS,Q4 - TNT/TBS,1

In [14]:
df_Game = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/game.csv")

In [17]:
print(df_Game.columns)

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')

In [18]:
df_Game_R = df_Game[['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 
       'season_type']]

Current Most Important and Relevant tables: Common Player Information, Draft History, Game

In [19]:
df_LineScore = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/line_score.csv")

In [22]:
print(df_LineScore.columns)

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away'],
      dtype='object')

In [24]:
df_LineScore_R = [['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away']]

In [27]:
df_OtherStats_R = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/other_stats.csv")

In [30]:
df_Player_R = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/player.csv")

In [32]:
df_TeamDetails = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/team_details.csv")

In [33]:
print(df_TeamDetails.columns)

Index(['team_id', 'abbreviation', 'nickname', 'yearfounded', 'city', 'arena',
       'arenacapacity', 'owner', 'generalmanager', 'headcoach',
       'dleagueaffiliation', 'facebook', 'instagram', 'twitter'],
      dtype='object')

In [34]:
df_TeamDetails_R = df_TeamDetails[['team_id', 'abbreviation', 'nickname', 'yearfounded', 'city', 'arena',
       'arenacapacity', 'owner', 'generalmanager', 'headcoach']]

In [35]:
df_TeamCommonInformation = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/team_info_common.csv")

In [36]:
print(df_TeamCommonInformation.columns)

Index(['team_id', 'season_year', 'team_city', 'team_name', 'team_abbreviation',
       'team_conference', 'team_division', 'team_code', 'team_slug', 'w', 'l',
       'pct', 'conf_rank', 'div_rank', 'min_year', 'max_year', 'league_id',
       'season_id', 'pts_rank', 'pts_pg', 'reb_rank', 'reb_pg', 'ast_rank',
       'ast_pg', 'opp_pts_rank', 'opp_pts_pg'],
      dtype='object')

In [37]:
df_TeamCommonInformation_R = df_TeamCommonInformation[['team_id', 'season_year', 'team_city', 'team_name', 'team_abbreviation',
       'team_conference', 'team_division', 'team_code', 'team_slug', 'w', 'l',
       'pct', 'conf_rank', 'div_rank', 'min_year', 'max_year', 'league_id',
       'season_id', 'pts_rank', 'pts_pg', 'reb_rank', 'reb_pg', 'ast_rank',
       'ast_pg', 'opp_pts_rank', 'opp_pts_pg']]

In [38]:
df_team = pd.read_csv("/Users/puravpatel/Documents/Programming/Data-Engineering/raw_data/csv/team.csv")

In [39]:
print(df_team.columns)

Index(['id', 'full_name', 'abbreviation', 'nickname', 'city', 'state',
       'year_founded'],
      dtype='object')